In [12]:
from __future__ import division, print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import skfuzzy as fuzz
#mengimport library yg digunakan untuk load data excel dan library lainnya yg digunakan untuk proses clustering

In [3]:
dataset = pd.read_excel("datafix.xlsx")
dataset.head()

,SNo,BookingDate,ID,STTNo,Shipper,OriginCity,DestinationCity,ForwardArea,Product,GrossWt,VolumeWt,CommodityName,LastTrackingStatus
0,110459075,01-Mar-2018,JOG-1932,10-17-1617709,DEE,JOGJAKARTA,GORONTALO,NaN,REGPACK,7,3,PRODUCT COSMETICS NON LIQUID,RECEIPT BY RIA .
1,110459088,01-Mar-2018,JOG-1932,10-17-1617711,DEE,JOGJAKARTA,GRESIK,NaN,REGPACK,1,1,PRODUCT COSMETICS NON LIQUID,RECEIPT BY NURFAN .
2,110459140,01-Mar-2018,JOG-1932,10-17-1617647,MEC ARTUR,JOGJAKARTA,MANOKWARI,NaN,REGPACK,2,1,ACCESSORIES,RECEIPT BY ANDRY TRIAS .
3,110459171,01-Mar-2018,JOG-1932,11-18-315622,MELVIN,JOGJAKARTA,AMBON,NaN,ONEPACK,1,1,ACCESSORIES,RECEIPT BY SANCHIA AHULUHELUW .
4,110459198,01-Mar-2018,JOG-1932,10-17-1617708,VINDY SHOP,JOGJAKARTA,KENDARI,NaN,REGPACK,1,1,PRODUCT COSMETICS NON LIQUID,RECEIPT BY HESTI .

In [9]:
df = dataset[['SNo', 'Product', 'GrossWt', 'VolumeWt']]
df = df.dropna(axis=0, how='any')
df.columns = ['SNo', 'Product', 'Gross', 'Volume']
df.head()

         SNo  Product  Gross  Volume
0  110459075  REGPACK      7       3
1  110459088  REGPACK      1       1
2  110459140  REGPACK      2       1
3  110459171  ONEPACK      1       1
4  110459198  REGPACK      1       1

In [10]:
df.loc[df['Product'] == 'REGPACK', 'Product'] = 2
df.loc[df['Product'] == 'ONEPACK', 'Product'] = 1
df.head()

         SNo  Product  Gross  Volume
0  110459075        2      7       3
1  110459088        2      1       1
2  110459140        2      2       1
3  110459171        1      1       1
4  110459198        2      1       1

In [15]:
sample = df.sample(400)
sample.head(10)

            SNo  Product  Gross  Volume
291   110551074        2      1       1
3626  111710341        2      3       2
1203  110831774        2     11       5
1086  110790512        2      9       7
587   110646918        1      1       1
4258  112037122        2      2       2
2704  111268574        2      1       1
1447  110892509        2      1       3
3531  111672859        2     20      35
574   110640509        2      1       1

In [16]:
proda = sample.loc[sample.Product == 1]
prodb = sample.loc[sample.Product == 2]

In [24]:
colors = ['b', 'orange', 'g', 'r', 'c', 'm', 'y', 'k', 'Brown', 'ForestGreen']

# Generate test data
np.random.seed(42)  # Set seed for reproducibility
apts = np.zeros(1)
bpts = np.zeros(1)
cpts = np.zeros(1)
dpts = np.zeros(1)
labels = np.zeros(1)

for i, x in sample.iterrows():
    apts = np.hstack((apts, np.random.standard_normal(100) * x['']))

SNo        110551074
Product            2
Gross              1
Volume             1
Name: 291, dtype: int64
SNo        111710341
Product            2
Gross              3
Volume             2
Name: 3626, dtype: int64
SNo        110831774
Product            2
Gross             11
Volume             5
Name: 1203, dtype: int64
SNo        110790512
Product            2
Gross              9
Volume             7
Name: 1086, dtype: int64
SNo        110646918
Product            1
Gross              1
Volume             1
Name: 587, dtype: int64
SNo        112037122
Product            2
Gross              2
Volume             2
Name: 4258, dtype: int64
SNo        111268574
Product            2
Gross              1
Volume             1
Name: 2704, dtype: int64
SNo        110892509
Product            2
Gross              1
Volume             3
Name: 1447, dtype: int64
SNo        111672859
Product            2
Gross             20
Volume            35
Name: 3531, dtype: int64
SNo        110640509
Product            2
Gross              1
Volume             1
Name: 574, dtype: int64
SNo        110573549
Product            2
Gross              1
Volume             1
Name: 388, dtype: int64
SNo        110971975
Product            2
Gross              2
Volume             2
Name: 1703, dtype: int64
SNo        110751852
Product            2
Gross             29
Volume             8
Name: 914, dtype: int64
SNo        111085600
Product            2
Gross              2
Volume             1
Name: 2137, dtype: int64
SNo        111000144
Product            2
Gross              1
Volume             1
Name: 1796, dtype: int64
SNo        110941909
Product            2
Gross              2
Volume             1
Name: 1612, dtype: int64
SNo        110832179
Product            2
Gross              6
Volume             3
Name: 1206, dtype: int64
SNo        110816918
Product            2
Gross              1
Volume             1
Name: 1161, dtype: int64
SNo        111252391
Product            2
Gross              1
Volume             1
Name: 2634, dtype: int64
SNo        111591532
Product            2
Gross              1
Volume             1
Name: 3357, dtype: int64
SNo        112035694
Product            2
Gross              1
Volume             1
Name: 4256, dtype: int64
SNo        110570246
Product            2
Gross              2
Volume             1
Name: 354, dtype: int64
SNo        110745740
Product            2
Gross              2
Volume             2
Name: 894, dtype: int64
SNo        110539972
Product            2
Gross             37
Volume            32
Name: 247, dtype: int64
SNo        111400376
Product            1
Gross              1
Volume             1
Name: 2961, dtype: int64
SNo        111185165
Product            2
Gross              5
Volume             7
Name: 2414, dtype: int64
SNo        111294812
Product            2
Gross              1
Volume             1
Name: 2732, dtype: int64
SNo        112007077
Product            2
Gross              1
Volume             1
Name: 4207, dtype: int64
SNo        111675664
Product            2
Gross              1
Volume             1
Name: 3544, dtype: int64
SNo        111188279
Product            2
Gross              2
Volume             2
Name: 2445, dtype: int64
SNo        111564084
Product            2
Gross              1
Volume             1
Name: 3315, dtype: int64
SNo        111404085
Product            2
Gross              2
Volume             2
Name: 2968, dtype: int64
SNo        110552541
Product            2
Gross              1
Volume             1
Name: 300, dtype: int64
SNo        111961979
Product            2
Gross              1
Volume             1
Name: 4109, dtype: int64
SNo        111979079
Product            2
Gross              1
Volume             2
Name: 4153, dtype: int64
SNo        110629314
Product            2
Gross              8
Volume             7
Name: 519, dtype: int64
SNo        111268396
Product            2
Gross             11
Volume             9
Name: 2699, dtype: int64
SNo        111405331
Product            2
Gross              5
Volume             3
Name: 2981, dtype: int64
SNo        110553514
Product            2
Gross              2
Volume             2
Name: 303, dtype: int64
SNo        111172839
Product            2
Gross              5
Volume             4
Name: 2378, dtype: int64
SNo        110881769
Product            2
Gross              1
Volume             1
Name: 1401, dtype: int64
SNo        111433313
Product            2
Gross              7
Volume             2
Name: 3046, dtype: int64
SNo        111897093
Product            2
Gross              2
Volume             2
Name: 4002, dtype: int64
SNo        110894206
Product            2
Gross              1
Volume             1
Name: 1457, dtype: int64
SNo        110868108
Product            2
Gross              3
Volume             2
Name: 1357, dtype: int64
SNo        111441853
Product            2
Gross              1
Volume             1
Name: 3060, dtype: int64
SNo        111593660
Product            2
Gross              1
Volume             1
Name: 3362, dtype: int64
SNo        111384818
Product            2
Gross              1
Volume             1
Name: 2921, dtype: int64
SNo        111960724
Product            2
Gross              1
Volume             1
Name: 4101, dtype: int64
SNo        111309567
Product            2
Gross              1
Volume             1
Name: 2780, dtype: int64
SNo        110459088
Product            2
Gross              1
Volume             1
Name: 1, dtype: int64
SNo        110776324
Product            2
Gross             11
Volume             6
Name: 1018, dtype: int64
SNo        110759398
Product            2
Gross            109
Volume            69
Name: 947, dtype: int64
SNo        111793246
Product            1
Gross              2
Volume             1
Name: 3779, dtype: int64
SNo        110633559
Product            2
Gross              1
Volume             1
Name: 555, dtype: int64
SNo        111142466
Product            2
Gross             17
Volume            12
Name: 2286, dtype: int64
SNo        111847332
Product            2
Gross              5
Volume            10
Name: 3880, dtype: int64
SNo        110895203
Product            2
Gross             12
Volume             8
Name: 1465, dtype: int64
SNo        111007120
Product            2
Gross             12
Volume             8
Name: 1813, dtype: int64
SNo        110525671
Product            2
Gross             47
Volume            28
Name: 204, dtype: int64
SNo        112043026
Product            2
Gross              1
Volume             1
Name: 4264, dtype: int64
SNo        110540029
Product            2
Gross              1
Volume             1
Name: 249, dtype: int64
SNo        111031953
Product            2
Gross              1
Volume             1
Name: 1895, dtype: int64
SNo        111076017
Product            2
Gross              5
Volume             2
Name: 2100, dtype: int64
SNo        110927130
Product            2
Gross              4
Volume             2
Name: 1564, dtype: int64
SNo        111307341
Product            2
Gross              4
Volume             4
Name: 2766, dtype: int64
SNo        110853045
Product            2
Gross              1
Volume             1
Name: 1285, dtype: int64
SNo        111815510
Product            2
Gross              1
Volume             1
Name: 3826, dtype: int64
SNo        111317141
Product            1
Gross              1
Volume             1
Name: 2801, dtype: int64
SNo        110659618
Product            2
Gross              6
Volume             5
Name: 621, dtype: int64
SNo        111929112
Product            2
Gross              1
Volume             1
Name: 4047, dtype: int64
SNo        110964099
Product            2
Gross              4
Volume             2
Name: 1673, dtype: int64
SNo        111493083
Product            2
Gross              1
Volume             1
Name: 3188, dtype: int64
SNo        111019260
Product            2
Gross             20
Volume            10
Name: 1844, dtype: int64
SNo        111065760
Product            2
Gross              3
Volume             1
Name: 2052, dtype: int64
SNo        112056183
Product            2
Gross              3
Volume             3
Name: 4300, dtype: int64
SNo        110940040
Product            1
Gross              1
Volume             1
Name: 1605, dtype: int64
SNo        110962453
Product            2
Gross              4
Volume             3
Name: 1666, dtype: int64
SNo        111005875
Product            2
Gross              3
Volume             5
Name: 1808, dtype: int64
SNo        110907446
Product            2
Gross              1
Volume             1
Name: 1505, dtype: int64
SNo        111006029
Product            2
Gross             18
Volume            15
Name: 1809, dtype: int64
SNo        110864358
Product            2
Gross              1
Volume             1
Name: 1330, dtype: int64
SNo        110840878
Product            2
Gross              1
Volume             1
Name: 1237, dtype: int64
SNo        111388229
Product            2
Gross              1
Volume             1
Name: 2935, dtype: int64
SNo        111016852
Product            2
Gross              1
Volume             2
Name: 1835, dtype: int64
SNo        110470287
Product            2
Gross              1
Volume             1
Name: 40, dtype: int64
SNo        110744397
Product            2
Gross              1
Volume             1
Name: 886, dtype: int64
SNo        111140320
Product            2
Gross             16
Volume             9
Name: 2269, dtype: int64
SNo        110552033
Product            2
Gross              3
Volume             1
Name: 297, dtype: int64
SNo        110694008
Product            2
Gross              6
Volume             1
Name: 721, dtype: int64
SNo        111752117
Product            2
Gross              1
Volume             1
Name: 3710, dtype: int64
SNo        111332572
Product            2
Gross              2
Volume             1
Name: 2834, dtype: int64
SNo        111056083
Product            2
Gross              1
Volume             1
Name: 2015, dtype: int64
SNo        111240472
Product            2
Gross              1
Volume             1
Name: 2604, dtype: int64
SNo        110495420
Product            2
Gross              2
Volume             3
Name: 136, dtype: int64
SNo        111083655
Product            2
Gross              4
Volume             3
Name: 2124, dtype: int64
SNo        111455268
Product            2
Gross              1
Volume             1
Name: 3102, dtype: int64
SNo        110789426
Product            2
Gross              2
Volume             2
Name: 1082, dtype: int64
SNo        110839716
Product            2
Gross              1
Volume             1
Name: 1233, dtype: int64
SNo        111738167
Product            2
Gross              3
Volume             1
Name: 3684, dtype: int64
SNo        111648967
Product            2
Gross              2
Volume             2
Name: 3487, dtype: int64
SNo        111516603
Product            2
Gross              7
Volume             3
Name: 3234, dtype: int64
SNo        110648392
Product            2
Gross              2
Volume             3
Name: 593, dtype: int64
SNo        111979041
Product            2
Gross             11
Volume             7
Name: 4151, dtype: int64
SNo        111204285
Product            2
Gross             12
Volume             6
Name: 2479, dtype: int64
SNo        111907130
Product            2
Gross              1
Volume             1
Name: 4012, dtype: int64
SNo        110873036
Product            2
Gross             11
Volume             8
Name: 1369, dtype: int64
SNo        110978604
Product            2
Gross              1
Volume             1
Name: 1725, dtype: int64
SNo        110582625
Product            2
Gross              2
Volume             3
Name: 397, dtype: int64
SNo        110753075
Product            2
Gross             25
Volume            50
Name: 922, dtype: int64
SNo        111110285
Product            2
Gross             15
Volume             5
Name: 2191, dtype: int64
SNo        111833354
Product            2
Gross              1
Volume             1
Name: 3860, dtype: int64
SNo        110690173
Product            2
Gross              7
Volume             5
Name: 713, dtype: int64
SNo        110495211
Product            2
Gross              1
Volume             1
Name: 133, dtype: int64
SNo        112058308
Product            2
Gross              2
Volume             1
Name: 4302, dtype: int64
SNo        111233114
Product            2
Gross              1
Volume             1
Name: 2583, dtype: int64
SNo        110607562
Product            2
Gross              5
Volume             4
Name: 472, dtype: int64
SNo        111172705
Product            2
Gross              1
Volume             1
Name: 2376, dtype: int64
SNo        112059645
Product            2
Gross              3
Volume             2
Name: 4313, dtype: int64
SNo        111792020
Product            2
Gross              1
Volume             1
Name: 3771, dtype: int64
SNo        111264390
Product            2
Gross              1
Volume             1
Name: 2683, dtype: int64
SNo        110791372
Product            2
Gross              1
Volume             1
Name: 1091, dtype: int64
SNo        111211627
Product            2
Gross              3
Volume             2
Name: 2506, dtype: int64
SNo        110631887
Product            2
Gross              1
Volume             1
Name: 536, dtype: int64
SNo        111481434
Product            2
Gross              1
Volume             1
Name: 3151, dtype: int64
SNo        111481708
Product            2
Gross              1
Volume             1
Name: 3154, dtype: int64
SNo        111226900
Product            1
Gross              1
Volume             1
Name: 2565, dtype: int64
SNo        111705773
Product            2
Gross              1
Volume             1
Name: 3617, dtype: int64
SNo        111052198
Product            2
Gross              3
Volume             2
Name: 1993, dtype: int64
SNo        110709891
Product            2
Gross              1
Volume             1
Name: 769, dtype: int64
SNo        111300609
Product            2
Gross              1
Volume             1
Name: 2752, dtype: int64
SNo        110862093
Product            2
Gross              1
Volume             1
Name: 1322, dtype: int64
SNo        111174343
Product            2
Gross              1
Volume             1
Name: 2392, dtype: int64
SNo        111565626
Product            2
Gross              1
Volume             1
Name: 3319, dtype: int64
SNo        111456883
Product            2
Gross              3
Volume             2
Name: 3112, dtype: int64
SNo        110856018
Product            2
Gross              1
Volume             1
Name: 1299, dtype: int64
SNo        111431345
Product            2
Gross              1
Volume             1
Name: 3039, dtype: int64
SNo        110835175
Product            2
Gross              2
Volume             2
Name: 1225, dtype: int64
SNo        111444860
Product            2
Gross              2
Volume             2
Name: 3076, dtype: int64
SNo        110647858
Product            2
Gross              1
Volume             1
Name: 590, dtype: int64
SNo        111185811
Product            2
Gross              2
Volume             2
Name: 2425, dtype: int64
SNo        110494344
Product            2
Gross             10
Volume             1
Name: 131, dtype: int64
SNo        110866575
Product            2
Gross              1
Volume             2
Name: 1344, dtype: int64
SNo        111631329
Product            2
Gross              1
Volume             1
Name: 3447, dtype: int64
SNo        110778051
Product            2
Gross              4
Volume             1
Name: 1025, dtype: int64
SNo        111423534
Product            2
Gross              4
Volume             6
Name: 3025, dtype: int64
SNo        110476823
Product            2
Gross              6
Volume             3
Name: 62, dtype: int64
SNo        111234835
Product            2
Gross              6
Volume             2
Name: 2586, dtype: int64
SNo        110515565
Product            2
Gross              1
Volume             1
Name: 174, dtype: int64
SNo        111083783
Product            2
Gross              2
Volume             2
Name: 2130, dtype: int64
SNo        111510691
Product            2
Gross              2
Volume             1
Name: 3219, dtype: int64
SNo        110489884
Product            2
Gross              3
Volume             3
Name: 99, dtype: int64
SNo        110684973
Product            2
Gross              1
Volume             1
Name: 699, dtype: int64
SNo        110659918
Product            2
Gross              1
Volume             1
Name: 630, dtype: int64
SNo        111838385
Product            2
Gross              1
Volume             1
Name: 3875, dtype: int64
SNo        111706873
Product            2
Gross              1
Volume             1
Name: 3621, dtype: int64
SNo        110489517
Product            2
Gross              1
Volume             1
Name: 97, dtype: int64
SNo        111344564
Product            2
Gross              1
Volume             1
Name: 2864, dtype: int64
SNo        111727891
Product            2
Gross              1
Volume             1
Name: 3653, dtype: int64
SNo        110468870
Product            2
Gross              1
Volume             1
Name: 34, dtype: int64
SNo        110491215
Product            2
Gross             11
Volume            10
Name: 103, dtype: int64
SNo        110994530
Product            2
Gross              1
Volume             1
Name: 1774, dtype: int64
SNo        110661987
Product            2
Gross              1
Volume             1
Name: 640, dtype: int64
SNo        110492483
Product            2
Gross              1
Volume             1
Name: 105, dtype: int64
SNo        111406362
Product            2
Gross              6
Volume             4
Name: 2985, dtype: int64
SNo        111896987
Product            2
Gross              5
Volume             3
Name: 4000, dtype: int64
SNo        110570708
Product            2
Gross              3
Volume             3
Name: 366, dtype: int64
SNo        111337047
Product            2
Gross              1
Volume             1
Name: 2857, dtype: int64
SNo        110954778
Product            2
Gross              1
Volume             1
Name: 1638, dtype: int64
SNo        111988753
Product            2
Gross              1
Volume             1
Name: 4182, dtype: int64
SNo        110921590
Product            1
Gross              1
Volume             2
Name: 1552, dtype: int64
SNo        111793119
Product            1
Gross              4
Volume             2
Name: 3778, dtype: int64
SNo        111618094
Product            2
Gross              1
Volume             1
Name: 3422, dtype: int64
SNo        111862662
Product            2
Gross              1
Volume             1
Name: 3921, dtype: int64
SNo        110965710
Product            2
Gross              1
Volume             1
Name: 1684, dtype: int64
SNo        111217722
Product            2
Gross             10
Volume            11
Name: 2523, dtype: int64
SNo        111734426
Product            2
Gross              1
Volume             1
Name: 3673, dtype: int64
SNo        111975055
Product            2
Gross              1
Volume             1
Name: 4134, dtype: int64
SNo        111811392
Product            2
Gross              1
Volume             1
Name: 3822, dtype: int64
SNo        111357064
Product            2
Gross              1
Volume             2
Name: 2885, dtype: int64
SNo        110609968
Product            2
Gross             14
Volume            13
Name: 474, dtype: int64
SNo        110469396
Product            2
Gross              6
Volume             5
Name: 37, dtype: int64
SNo        110532705
Product            2
Gross              2
Volume             1
Name: 231, dtype: int64
SNo        110632572
Product            2
Gross              5
Volume             3

In [31]:
set(dataset['DestinationCity'])

{'ALOR',
 'AMBON',
 'ASAHAN',
 'BAJAWA',
 'BALIKPAPAN',
 'BANDA ACEH',
 'BANDUNG',
 'BANJARMASIN',
 'BANYUWANGI',
 'BATAM',
 'BATANG',
 'BAU BAU',
 'BENGKULU',
 'BERAU',
 'BIMA',
 'BINJAI',
 'BITUNG',
 'BLITAR',
 'BOGOR',
 'BULELENG',
 'BULI',
 'BULUKUMBA',
 'CIANJUR',
 'CIKARANG',
 'CIREBON',
 'DELI SERDANG',
 'DENPASAR',
 'DOBO',
 'ENDE',
 'FAK FAK',
 'GORONTALO',
 'GRESIK',
 'GUNUNG SITOLI',
 'INDRAMAYU',
 'JAKARTA',
 'JAMBI',
 'JAYAPURA',
 'JEMBER',
 'JOGJAKARTA',
 'KAIMANA',
 'KENDARI',
 'KOLAKA',
 'KOTABARU',
 'KUPANG',
 'LABUAN BAJO',
 'LABUHA',
 'LAMONGAN',
 'LAMPUNG',
 'LARANTUKA',
 'LOMBOK',
 'LUBUK LINGGAU',
 'LUWUK',
 'MADIUN',
 'MAGELANG',
 'MAKASAR',
 'MALANG',
 'MAMUJU',
 'MANADO',
 'MANOKWARI',
 'MAUMERE',
 'MEDAN',
 'MELONGUANE',
 'MERAUKE',
 'MEULABOH',
 'MOJOKERTO',
 'MOROTAI',
 'NABIRE',
 'NGAWI',
 'PADANG',
 'PALANGKARAYA',
 'PALEMBANG',
 'PALOPO',
 'PALU',
 'PANGKAL PINANG',
 'PASURUAN',
 'PEKANBARU',
 'PEMATANG SIANTAR',
 'PONOROGO',
 'PONTIANAK',
 'POSO',
 'PROBOLINGGO',
 'PURWOKERTO',
 'RAHA',
 'ROTE',
 'SAMARINDA',
 'SAMPIT',
 'SAUMLAKI',
 'SEMARANG',
 'SERANG',
 'SOLO',
 'SORONG',
 'SUKABUMI',
 'SUMBAWA',
 'SURABAYA',
 'TABALONG',
 'TAHUNA',
 'TANJUNG PANDAN',
 'TANJUNG PINANG',
 'TANJUNG SELOR',
 'TARAKAN',
 'TASIKMALAYA',
 'TEBING TINGGI',
 'TEGAL',
 'TERNATE',
 'TOBELO',
 'TOLI TOLI',
 'TUAL',
 'TULUNGAGUNG',
 'WAIKABUBAK',
 'WAINGAPU',
 'WAKATOBI',
 'WAMENA'}

In [32]:
len(set(dataset['DestinationCity']))

112